@import "tailwindcss";

@font-face {
    font-family: 'ubuntu';
    src: url('/fonts/ubuntu/bold.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'ubuntu';
    src: url('/fonts/ubuntu/medium.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'ubuntu';
    src: url('/fonts/ubuntu/regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@theme{
    --primary: #274374;
    --secondary: #4FCADB;
    --breakpoint-xl-1230: 1230px;
    --breakpoint-md-905: 905px;
    --breakpoint-xl-1230: 1230px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1536px;
    --breakpoint-4xl: 1600px;
    --breakpoint-5xl: 1900px;
    --breakpoint-xl-1920: 1920px;
    --breakpoint-6xl: 2050px;
}

:root{
    --max-w: 90%;
    --max-w-1536: 1536px;
}

*{
    font-family: 'ubuntu';
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

.overflow-x-auto::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar
{
    display: none;
}
.overflow-x-auto,
.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.limited-container{
    max-width: 95%;
    margin: 0px auto;
}

/* xl */
@media screen and (min-width: 1280px) {
    .limited-container{
        max-width: 90%;
    }
}
/* 2xl */
@media screen and (min-width: 1440px) {
    .limited-container{
        max-width: var(--max-w);
    }
}
/* 4xl */
@media screen and (min-width: 1600px) {
    .limited-container{
        max-width: 75%;
    }
}
/* 5xl */
@media screen and (min-width: 1900px) {
  .limited-container{
      max-width: var(--max-w-1536);
  }
}

.appear-softly{
    animation: appearSoftly .5s forwards ease-in-out;
}

@keyframes appearSoftly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: placeholderAnimation 3s infinite linear;
}

@keyframes placeholderAnimation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}